.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.center-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}
.btn {
  margin-top: 20px;
  margin-bottom: 50px;
  width: 180px;
  height: 40px;
  cursor: pointer;
  background: #91c9ff;
  /* background: #4f95da; */
  border-radius: 10px;
  outline: none;
  transition: 1s ease-in-out;
}
.btn:hover {
  color: white;
  transition: 1s ease-in-out;
  border: 1px solid #91c9ff;
  background: #032541;
}
.card-album {
  transition: all 0.5s;
}
.card-album:hover {
  transform: scale(1.05);
  background-image: none;
  border: none;
}
nav ul {
  list-style: none;
  display: flex;
}
nav {
  margin-right: 20px;
  flex: 1;
}
#navbar img {
  padding-top: 5px;
}
#navbar {
  padding: 3px;
  background: #032541;
  color: white;
  position: fixed;
  top: 0;
  height: 60px;
  line-height: 60px;
  width: 100vw;
  z-index: 10;
}
.nav-wrapper {
  margin: auto;
  text-align: center;
  width: 70%;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
